# Code to extract average Crude Oil from Yahoo

In [1]:
import pandas as pd 
import pandas_datareader as web 
from datetime import datetime

In [2]:
crude_symbol = 'BZ=F'
today = datetime.today().strftime('%Y-%m-%d')
# February is from 3rd of Feb to 3rd of March
# March starts on th 3rd of March
df = web.DataReader(crude_symbol, data_source= 'yahoo', start='2022-03-03', end= today)
data = df.filter(['Close'])
data.head()

                 Close
Date
2022-03-03  110.459999
2022-03-04  118.110001
2022-03-07  123.209999
2022-03-08  127.980003
2022-03-09  111.139999

In [3]:
data.mean()

Close    112.771053
dtype: float64

In [4]:
print('Avg Brent Crude for March:', data.mean())

Avg Brent Crude for March: Close    112.771053
dtype: float64