# Code to extract average Crude Oil from Yahoo

In [5]:
import pandas as pd 
import pandas_datareader as web 
from datetime import datetime

In [6]:
crude_symbol = 'BZ=F'
today = datetime.today().strftime('%Y-%m-%d')
df = web.DataReader(crude_symbol, data_source= 'yahoo', start='2022-02-03', end= '2022-03-03')
data = df.filter(['Close'])
data.head()

                Close
Date
2022-02-03  91.110001
2022-02-04  93.269997
2022-02-07  92.690002
2022-02-08  90.779999
2022-02-09  91.550003

In [7]:
data.mean()

Close    96.6125
dtype: float64